<ion-header [translucent]="true">
  <ion-toolbar  color='primary' mode="ios">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title >
      BETH_ART_CANDY
    </ion-title>    
  </ion-toolbar>
  <ion-toolbar color='secondary' mode="ios">
    <ion-title  color="primary " style="font-size: 12px; text-align: center;">
     DOCES PERSONALIZADOS
    </ion-title> 
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2019/03/29/18/35/cup-cakes-4089856__340.jpg"
      alt="">
    <ion-card-header>

      <ion-card-title>Cup Cake</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>