<ion-header [translucent]="true">
  <ion-toolbar color='primary'>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title class="title">
      BETH ART CANDY
    </ion-title>
  </ion-toolbar>
  <ion-toolbar color='secondary'>
    <ion-title class="subtitle">
      Doces Personalizados!
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img [src]="produto.url" alt="">

    <ion-card-header>
      <ion-card-title style="text-align: center; text-shadow: 0 0 1px;"><strong>{{produto.title}}</strong>
      </ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-label><strong>Categoria:</strong> {{produto.category}} </ion-label>
      <p></p>
      <ion-label><strong>Descrição:</strong> {{produto.descricao}} </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>