#container {
    text-align: center;
    text-shadow: 0 0 2em #40407a;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    margin-top: 50%;
  }  
    ion-content {
      --background: url('https://cdn.pixabay.com/photo/2017/02/11/14/19/valentines-day-2057745_960_720.jpg') no-repeat center center / cover !important;
      
  }
