#container {
    text-align: center;
    text-shadow: 0 0 2em #40407a;
  
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    margin-top: 50%;
  }  
    ion-content {
      --background: url('/assets/logo/logo1.1.png') no-repeat center center  !important;
      
  }

  ion-segment-button{
    color: #6c5ce7;
  }
