<app-header></app-header>

<ion-content [fullscreen]="primary"> 

  <ion-segment (ionChange)="segmentChanged($event)">
    <ion-segment-button style="color: #fff;" value="doces">
      <ion-label>Doces</ion-label>
    </ion-segment-button >
    <ion-segment-button value="salgados" style="color: #fff;">
      <ion-label>Salgados</ion-label>
    </ion-segment-button>
    <ion-segment-button value="bolos" style="color: #fff;">
      <ion-label>Bolos</ion-label>
    </ion-segment-button>
  </ion-segment>  

  <!--<h2 id="container">Experimente Nossos Produtos!!!</h2> -->

 
</ion-content>