<ion-content style="background-color: brown;">

  <div class="header"></div>

  <div >
    <ion-icon class="icon" name="people-outline"></ion-icon>
      <!-- <img src="./assets/icon/login.png" alt="logo"> -->
    </div>
    <ion-card style="margin-top: 10%;" mode="ios">
      
        
      
      <form [formGroup]="authFormLog" (submit)="singIn()">
        <ion-item lines="none">
          <ion-icon name="mail-outline" slot="start"></ion-icon>
          <ion-input type="email" placeholder="meuemail@email.com" formControlName="email"></ion-input>
        </ion-item>

        <ion-item lines="none">
          <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
          <ion-input type="password" placeholder="Informe a senha" formControlName="password"></ion-input>
        </ion-item>
        <ion-button type="submit" expand="block" [disabled]="authFormLog.invalid">Entrar</ion-button>
        
      </form>
      <ion-button expand="block"  color="secondary" routerLink="/cadastro">Cadastre-se</ion-button>
    </ion-card> 

</ion-content>

<ion-footer>
  <ion-toolbar color="primary" style="text-align: center; text-shadow: 0 0 1em;">
    <ion-label> Conheça Nossos Produtos </ion-label>
  </ion-toolbar>
</ion-footer>