<ion-header [translucent]="true">
  <ion-toolbar mode="ios" color='primary' style="text-align: center;">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title style="font-size: 14px ;">
      BETH_ART_CANDY
    </ion-title>
  </ion-toolbar>
  <ion-toolbar mode="ios" color='secondary' style="height: 30px;">
    <ion-title color="primary " style="font-size: 12px; text-align: center; margin-top: -18px;">
      Produtos Feito Com Todo Amor e Carinho!!!
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-card>
    <img src="https://cdn.pixabay.com/photo/2015/09/11/22/15/cake-936498__480.jpg"
      alt="">
    <ion-card-header>

      <ion-card-title>Bolo De Aipim com Coco</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

</ion-content>