ion-toolbar {
    --min-height: 20px;
}

.title {
    font-size: 25px;
    padding: 5px;    
}

.subtitle {
    font-size: 12px; 
    text-align: center;
    color: #6c5ce7;
}
img{
    border-radius: 20px;
}